@media screen and (max-width: 414px) {

    body {
        padding: 0;
        margin: 0;
    }

    header {
        background: #ccffff;
    }
    
    .reseaux {
        background-color: #ccffff;
        border-bottom: 1px solid #d9d8d8;
        width: 77%;
        margin: 0 auto;
        padding-top: 0.5%;
        padding-bottom: 0.5%;
    }
    
    nav {
        background-color: #9a99ff;
        width: 100%;
        margin: 0 auto;
        border-top: 1px solid rgb(58, 53, 53);
        border-bottom: 1px solid rgb(58, 53, 53);
    
    }
    
    .centerfix {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    .mobile{
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: inherit;
    }
    
    
    .image-logo {
        width: 100%;
        text-align: center;
    }
    
    .logo-size {
        width: 44%;
        padding-left: 9%;
    }
    
    .header-menu {
        display: flex;
        width: 94%;
    }
    
    .header-style {
        display: flex;
        width: 94%;
        justify-content: flex-start;
        flex-direction: column;
    }
    
    .header-style > li {
        display: inline-block;
        align-self: flex-start;
        border-top: 2px solid #b5b5b5;
        margin-top: 1%;
        margin-bottom: 1%;
        width: 100%;
        padding-top: 2%;
    }
    
    .slider-carrousel {
        width: 667px;
    }
    
    .destination {
        position: relative;
        display: inline-block;
        padding-left: 0;
        list-style-type: none;
        align-self: flex-start;
        border-top: 2px solid #b5b5b5;
        margin-top: 1%;
        margin-bottom: 1%;
        width: 100%;
        padding-top: 2%;
    }
    
    .destination > li > a {
        text-decoration: none;
        color: black;
    }
    
    .hovermenu {
        display: none;
        position: absolute;
        background-color: white;
        width: 100%;
        box-shadow: 0px 8px 16px 0px black;
        list-style-type: none;
        padding-left: 0;
        z-index: 1;
    }
    
    .hovermenu > li {
        color: rgb(61, 61, 61);
        text-decoration: none;
        display: block;
        list-style-type: none;
        padding: 0%;
        border-bottom: 1px solid black;
        background-color: rgb(196, 196, 196);
        font-weight: bold;
        font-size: small;
    }
    
    .hovermenu > li > a {
        color: black;
        text-decoration: none;
        display: block;
        list-style-type: none;
    }
    
    .hovermenu > li:hover {
        background-color: rgb(223, 223, 223);
    }
    
    .hovermenu > li > a:hover {
        color: red;
    }
    
    .destination:hover .hover-menu {
        display: block;
    }
    
    #slider {
        width: 70%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        margin-top: 5%;
    }
    
    /* .image-size {
        transform: rotate(45);
    } */
    
    .article-container {
        display: flex;
        width:77%;
        margin: 0 auto;
        margin-top: 1%;
        flex-direction: column;
    }
    
    .article-title {
        width: 100%;
        display: flex;
        background-color: #9a99ff;
        color: white;
    }
    
    .article-space {
        margin-right: 1%;
    }
    
    .article-space > a {
        color: red;
        text-decoration: none;
    }
    
    .separator {
        width: 77%;
        margin: 0 auto;
        margin-top: 3%;
        border-bottom: 2px solid #b5b5b5;
    }
    
    .flag-destination {
        display: flex;
        margin: 0 auto;
        margin-top: 2%;
        width: 85%;
        margin-bottom: 3%;
        flex-wrap: wrap;
    }
    
    .flag-style {
        border: 1px solid #dbdbdb;
        width: 88%;
        margin-left: 14%;
        margin-top: 5%;
    }
    
    .flag-text {
        font-weight: bold;
        margin-left: 14%;
    }

    .flag-france {
        width: 100%;
    }

    .flag-brazil {
        visibility: hidden;
    }

    .flag-algeria {
        visibility: hidden;
    }
    
    footer {
        background-color: #ccffff;
        border-top: 1px solid black;
    
    }
    
    .footer-center {
        width: 94%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    
    .main-article {
        width: 81%;
        display: flex;
        flex-direction: column;
        margin-top: 4%;
        margin: 0 auto;
    }
    
    .text-footer {
        display: flex;
    }
    
    .footer-subscribe {
        width: 94%;
        margin: 0 auto;
        margin-top: 4%;
    }
    
    .footer-subscribe > h3 {
        font-weight: bold;
        border-bottom: 2px solid #b5b5b5;
        padding-bottom: 1%;
    }
    
    .footer-button {
        background: green;
        color: white;
        width: 30%;
        padding-bottom: 2.5%;
        text-align: center;
        padding-top: 2.5%;
        border-radius: 9px;
        border: 1px solid black;
        font-size: large;
    }
    
    .footer-contact {
        width: 94%;
        margin: 0 auto;
        padding-top: 1%;
        padding-bottom: 2%;
    }
    
    .footer-style {
        display: flex;
        padding-left: 0;
        justify-content: space-between;
        width: 100%;
        list-style-type: none;
        font-weight: bold;
    
    }
    
    .end-container {
        background-color: #9a99ff;
        margin-top: 4%;
        border-top: 1px solid black;
    }
    
    .end-text {
        padding-top: 2%;
        color: rgb(70, 69, 69);
    }
    
    /* CARROUSEL  */
    
    
      /* The dots/bullets/indicators */
      .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
      }
      
      .active, .dot:hover {
        background-color: #717171;
      }
      
      /* Fading animation */
      
      .prev {
       background: url("assets/2.png");
       position: absolute;
       top: 38%;
       left: 16%;
       width: 45px;
       height: 45px;
       background-position: 0px 0; 
      }
    
      .next {
        background: url("assets/2.png");
        position: absolute;
        top: 38%;
        right: 16%;
        width: 45px;
        height: 45px;
        background-position: 45px 0; 
       }
    
       .slideshow-container{
           margin: 20px auto;
       }
    
       .dot-carou {
            margin-bottom: 1%;
       }
    
    }